<footer class="footer">
        <div class="container">
                <div class="footer__nav">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="">Вход для партнеров</a></li>
                        <li class="nav__item"><a href="">О компании</a></li>
                        <li class="nav__item"><a href="">Контакты</a></li>
                    </ul>
                </div>
                <div class="footer__socaial-list">
                    <span class="footer__social-text">Будь на связи:</span>
                    <div class=".footer__social .footer__social--vk">
                        <a href="">vk</a>
                    </div>
                    <div class=".footer__social .footer__social--ok">
                        <a href="">ok</a>
                    </div>
                    <div class=".footer__social .footer__social--youtube">
                        <a href="">youtube</a>
                    </div>
                    <div class=".footer__social .footer__social--instagram">
                        <a href="">instagram</a>
                    </div>
                </div>
                <div class="footer__info">
                    <div class="contacts footer__contacts">
                        <a href="callto:88005006105" class="contacts__tel">8 800 500-61-05 </a>
                        <p class="contacts__text">Круглосуточная поддержка</p>
                    </div>
                    <div class="footer__copyright">© 2016 OOO «Городские Круизы»</div>
                </div>
            </div>
</footer>