<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__nav">
                <ul class="nav-list">
                    <li class="nav-list__item"><a href="">Вход для партнеров</a></li>
                    <li class="nav-list__item"><a href="">О компании</a></li>
                    <li class="nav-list__item"><a href="">Контакты</a></li>
                </ul>
            </div>
            <div class="footer__social">
                <span class="footer__social-text">Будь на связи:</span>
                <ul class="footer__social-list">
                    <li>
                        <a href="#" title="vk" class="footer__social-item footer__social-item--vk"></a>
                    </li>
                    <li class="footer__social-item footer__social-item--ok">
                        <a href="#" title="ok"></a>
                    </li>
                    <li class="footer__social-item footer__social-item--youtube">
                        <a href="#" title="youtube"></a>
                    </li>
                    <li class="footer__social-item footer__social-item--instagram">
                        <a href="#" title="instagram"></a>
                    </li>
                </ul>
            </div>
            <div class="footer__info">
                <div class="footer__contacts">
                    <div class="contacts">
                        <a href="callto:88005006105" class="contacts__tel">8 800 500-61-05 </a>
                        <p class="contacts__text">Круглосуточная поддержка</p>
                    </div>
                </div>
                <div class="footer__copyright">© 2016 OOO «Городские Круизы»</div>
            </div>
        </div>
    </div>
</footer>