<header class="header">
        <div class="container">
                <div class="header__nav">
                    <button class="main-nav__toggle" type="button">
                        <span></span>
                    </button>
                    <div class="nav-lists">
                        <div class="main-nav">
                            <ul class="main-nav__list">
                                <li class="main-nav__item"><a href=""></a></li>
                                <li class="main-nav__item"><a href=""></a></li>
                                <li class="main-nav__item"><a href=""></a></li>
                                <li class="main-nav__item"><a href=""></a></li>
                            </ul>
                        </div>
                        <div class="user-nav">
                            <ul class="user-block__list">
                                <li class="user-block__item"><a href=""></a></li>
                                <li class="user-block__item"><a href=""></a></li>
                                <li class="user-block__item"><a href=""></a></li>
                            </ul>
                            <div class="contacts">
                                <a href="callto:88005006105" class="contacts__tel">8 800 500-61-05 </a>
                                <p class="contacts__text">Круглосуточная поддержка</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</header>