<header class="header">
    <div class="container">
        <div class="header__nav">
            <button class="header__nav-toggle" type="button">
                <span></span>
            </button>
            <div class="header__main-nav">
                <ul class="main-nav__list">
                    <li class="main-nav__item"><a href="">Популярные маршруты</a></li>
                    <li class="main-nav__item"><a href="">Расписание рейсов</a></li>
                    <li class="main-nav__item"><a href="">Забронированные рейсы</a></li>
                    <li class="main-nav__item"><a href="">Вход для партнеров</a></li>
                    <li class="main-nav__item"><a href="">О компании</a></li>
                    <li class="main-nav__item"><a href="">Контакты</a></li>
                </ul>
            </div>
            <!-- <div class="user-nav user-nav--mob">
                    <ul class="user-nav__list">
                        <li class="user-nav__item">
                            <a href="">Личный кабинет</a>
                        </li>
                        <li class="user-nav__item">
                            <select>
                                <option>Рубль</option>
                                <option>Доллар</option>
                            </select>
                        </li>
                        <li class="user-nav__item">
                            <select>
                                <option>Ru</option>
                                <option>En</option>
                            </select>
                        </li>
                    </ul>
                </div> -->
            <!-- <div class="main-nav">
                    <ul class="main-nav__list">
                        <li class="main-nav__item"><a href="">Популярные маршруты</a></li>
                        <li class="main-nav__item"><a href="">Расписание рейсов</a></li>
                        <li class="main-nav__item"><a href="">Забронированные рейсы</a></li>
                        <li class="main-nav__item"><a href="">Вход для партнеров</a></li>
                        <li class="main-nav__item"><a href="">О компании</a></li>
                        <li class="main-nav__item"><a href="">Контакты</a></li>
                    </ul>
                </div> -->
            <div class="header__user-nav">
                <ul class="user-nav__list">
                    <li class="user-nav__item user-nav__item--profile">
                        <a href="">Личный кабинет</a>
                    </li>
                    <li class="user-nav__item user-nav__item--cost">
                        <select>
                            <option>Рубль</option>
                            <option>Доллар</option>
                        </select>
                    </li>
                    <li class="user-nav__item">
                        <select>
                            <option>Ru</option>
                            <option>En</option>
                        </select>
                    </li>
                </ul>
                <div class="header__nav-coontacts">
                    <div class="contacts">
                        <a href="callto:88005006105" class="contacts__tel">8 800 500-61-05 </a>
                        <p class="contacts__text">Круглосуточная поддержка</p>
                    </div>
                </div>
            </div>
        </div>
</header>