{% extends '/tpl/inc/page.twig' %}
{% block content %}

<section class="intro intro--bg">
    <div class="intro__bg">
        <img src="../images/sochi-desk.jpg" alt="">
    </div>
    <div class="container">
        <div class="intro__content">
            <a class="intro__logo logo">
                <img src="../images/logo.png" alt="">
            </a>
            <h1 class="intro__title">Морские прогулки</h1>
            <h2 class="intro__title intro__title--big">
                по чёрному морю</h2>
            <a href="" class="intro__action-link btn"><span>Выбрать круиз</span></a>
        </div>
    </div>
</section>
<section class="catalog">
    <div class="container">
        <div class="catalog__wrapper">
            <div class="line-svg"></div>
            <h2 class="catalog__title">Каталог круизов</h2>
            <div class="catalog__filter">
                <label class="catalog__filter-text">Сортировать круизы по</label>
                <select name="" id="">
                    <option value="">цене</option>
                    <option value="">продол-ти</option>
                    <option value="">маршруту</option>
                </select>
            </div>
            <div class="card__list">
                <div class="card card--big">
                    <div class="card__img">
                        <img src="../images/lighthouse-1319560.jpg" alt="card img">
                    </div>
                    <div class="card__flag">
                        <div class="card__flag-text">Хит
                            продаж</div>
                    </div>
                    <div class="card__info">
                        <div class="card__link"><a href="#">Обзорная морская
                                прогулка с экскурсией</a></div>
                        <div class="card__text"><b>Маршрут:</b>Сочи-Адлер-Сочи
                            (без высадки)</div>
                        <div class="card__text"><b>Продолжительность:</b>1
                            ч. 0 мин.</div>
                        <div class="card__price">49 000 руб.</div>
                    </div>
                </div>
                <div class="modal-card">
                    <button class="modal-card__close"></button>
                    <div class="modal-card__left">
                        <div class="modal-card__img">
                            <img src="../images/sea-3141781-1920.jpg" alt="">
                        </div>
                        <div class="modal-card__mini-img">
                            <img src="../images/sochi-2461968-1920.jpg" alt="">
                            <img src="../images/sochi-desk.jpg" alt="">
                            <img src="../images/sochi-desk.jpg" alt="">
                            <img src="../images/sochi-2461968-1920.jpg" alt="">
                        </div>
                    </div>
                    <div class="modal-card__right">
                        <div class="card__info card__info--modal">
                            <div class="card__link"><a href="#">Морская прогулка в Абрау-Дюрсо</a></div>
                            <div class="card__text"><b>Маршрут:</b></div>
                            <div class="card__text"><b>Продолжительность:</b></div>
                            <div class="card__text"><b>Расписание</b><br>
                                Отправление из Сочи: ежедневно в 10:00, 11:40, 13:20, 15:00, 16:40
                                Отправление из Абрау-Дюрсо: ежедневно 
                                в 12:25, 14:05, 15:45, 17:25, 19:05  
                                Продолжительность: 11 часов 0 мин., из которых 10 часов - морская прогулка (туда и обратно), от 1 часа 30 мин. - свободное время в Ласточкином гнезде
                                Причал отправления/прибытия: набережная Ленина, причал №8, теплоход "Азов"</div>
                            <div class="card__price">14 800 руб.</div>
                            <div class="card__btn-link btn">Бронирование</div>
                        </div>
                    </div>
                </div>
                <div class="modal-overlay"></div>
                <div class="card">
                    <div class="card__img card__img--one-third">
                        <img src="../images/sochi-2461968-1920.jpg" alt="">
                    </div>
                    <div class="card__flag card__flag--red">
                        <div class="card__flag-text">Акция</div>
                    </div>
                    <div class="card__info">
                        <div class="card__link"><a href="#">Морская прогулка
                                в Геленджик</a></div>
                        <div class="card__text"><b>Маршрут:</b>Сочи-Туапсе-Геленджик</div>
                        <div class="card__text"><b>Продолжительность</b>12 ч. 30 мин.</div>
                        <div class="card__price">7 000 руб.</div>
                        <div class="card__price-old">15 000 руб.</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card__img card__img--one-third">
                        <img src="../images/21.jpg" alt="">
                    </div>
                    <div class="card__flag card__flag--red">
                        <div class="card__flag-text">скидка
                            10%</div>
                    </div>
                    <div class="card__info">
                        <div class="card__link"><a href="#">Морская прогулка
                                в Геленджик</a></div>
                        <div class="card__text"><b>Маршрут:</b>Сочи-Туапсе-Геленджик</div>
                        <div class="card__text"><b>Продолжительность</b>12 ч. 30 мин.</div>
                        <div class="card__price">7 000 руб.</div>
                        <div class="card__price-old">15 000 руб.</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card__img card__img--one-half">
                        <img src="../images/sea-3141781-1920.jpg" alt="">
                    </div>
                    <div class="card__info">
                        <div class="card__link"><a href="#">Морская прогулка
                                в Геленджик</a></div>
                        <div class="card__text"><b>Маршрут:</b>Сочи-Туапсе-Геленджик</div>
                        <div class="card__text"><b>Продолжительность</b>12 ч. 30 мин.</div>
                        <div class="card__price">7 000 руб.</div>
                        <div class="card__price-old">15 000 руб.</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card__img card__img--one-half">
                        <img src="../images/sea-3141781-1920.jpg" alt="">
                    </div>
                    <div class="card__info">
                        <div class="card__link"><a href="#">Морская прогулка
                                в Геленджик</a></div>
                        <div class="card__text"><b>Маршрут:</b>Сочи-Туапсе-Геленджик</div>
                        <div class="card__text"><b>Продолжительность</b>12 ч. 30 мин.</div>
                        <div class="card__price">7 000 руб.</div>
                        <div class="card__price-old">15 000 руб.</div>
                    </div>
                </div>
            </div>
            <button class="btn btn--show-more" type="button"><span>Больше круизов</span></button>
        </div>
    </div>
</section>

{% endblock %}