.main-nav__toggle {
    display: block;
    margin-top: 30px;
    width: 22px;
    height: 16px;
    border: none;
    background-color: inherit;

    span {
        display: block;
        position: relative;
        background-color: black;
        width: 22px;
        height: 2px;

        &::before {
            position: absolute;
            content: "";
            top: 6px;
            display: block;
            background-color: black;
            width: 22px;
            height: 2px;
        }

        &::after {
            position: absolute;
            content: "";
            top: 12px;
            display: block;
            background-color: black;
            width: 22px;
            height: 2px;
        }
    }

    &:hover {
        cursor: pointer;

    }
}

@include mq-mob {
    .nav-lists {
        display: none;
    }
}


.header__nav {
    position: absolute;
}