@function breakpoint-next($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
  $n: index($breakpoint-names, $name);
  @return if($n != null and $n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
  $next: breakpoint-next($name, $breakpoints);
  @return if($next, breakpoint-min($next, $breakpoints) - .02px, null);
}

@function breakpoint-infix($name, $breakpoints: $grid-breakpoints) {
  @return if(breakpoint-min($name, $breakpoints) == null, "", "-#{$name}");
}

// media query mixin
@mixin mq($from, $to: false) {
  @if $to {
    @media (min-width: $from) and (max-width: $to) {
      @content;
    }
  } @else {
    @media (max-width: $from) {
      @content;
    }
  }
}

@mixin mq-mob {
  @media (max-width: 767px) {
    @content;
  }

}

// from tab
@mixin mq-from-tab {
  @media (min-width: 768px) {
    @content;
  }
}

// tab only
@mixin mq-tab {
  @media (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

// from pc
@mixin mq-from-pc {
  @media (min-width: 1024px) and (max-width: 1199px) {
    @content;
  }
}


// under pc
@mixin mq-under-pc {
  @media (max-width: 1023px) {
    @content;
  }
}

// pc only
@mixin mq-pc {
  @media (min-width: 1200px) and (max-width: 1919px) {
    @content;
  }
}

// under lg
@mixin mq-under-lg {
  @media (max-width: 1439px) {
    @content;
  }
}

// from large
@mixin mq-from-lg {
  @media (min-width: 1440px) {
    @content;
  }
}

// from large (the same)
@mixin mq-lg {
  @media (min-width: 1440px) {
    @content;
  }
}
